<div style="text-align: center;">
    <img src="https://hexagon.com/-/media/project/one-web/master-site/industries/how-hexagon-creates-value-for-mining/hexagon-creates-value-for-the-mining-industry-mine-site-heromarquee.jpg" alt="Future Mining" style="max-width: 100%; max-height: 100%;"><br>
</div>

<div class="estilo" align="center" style="display:block;">
<a href="https://colab.research.google.com/drive/1Fo4036-KGIJ9459DVjAdY4jPJNy2Qt05?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
</div>

<div align="center">
    <h1 style="font-weight:bold; color:#183153;" >Yiender Condori Galdos</h1>
    <h3 style="font-family:'proxima-soft', sans-serif; font-size:1.5rem; font-weight:bold; color:#0ca678; margin-top:0.7rem;" >UNIVERSIDAD NACIONAL DE MOQUEGUA</h3>
</div>

<div class="estilo" align="center" style="display:block;">
        <a href="https://github.com/Jinder2050" target="_blank" style="padding: 0.2rem;"><img src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white"/></a>
        <a href="https://www.facebook.com/JiNnDeRC" target="_blank" style="padding: 0.2rem;"><img src="https://img.shields.io/badge/facebook-%233B5998.svg?&style=for-the-badge&logo=facebook&logoColor=white"/></a>
        <a href="https://www.instagram.com/jinnder07/" target="_blank" style="padding: 0.2rem;"><img src="https://img.shields.io/badge/instagram-%23dc2743.svg?&style=for-the-badge&logo=instagram&logoColor=white"/></a>
        <a href="https://www.linkedin.com/in/yiender-condori-galdos-6a536020b/" target="_blank" style="padding: 0.2rem;"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"/></a>
</div>
<br>

##**Librerias Necesarias**

In [443]:
from google.colab import files
import pandas as pd
import io
from ipywidgets import interact
data = files.upload()

Saving Datos históricos Futuros cobre.csv to Datos históricos Futuros cobre (13).csv

##**Mostrar Dataframe**

In [444]:
df = pd.read_csv('Datos históricos Futuros cobre.csv', decimal=',', sep=';')
df

           Fecha  Último  Apertura  Máximo  Mínimo    Vol.  % var.
0     30.12.2022  3.8130    3.8135  3.8150  3.8135   0,01K  -0,35%
1     29.12.2022  3.8265    3.8360  3.8360  3.8250   0,04K  -0,42%
2     28.12.2022  3.8425    3.8490  3.8730  3.8210  42,61K   0,05%
3     27.12.2022  3.8405    3.8400  3.9415  3.8320  48,12K  -0,44%
4     26.12.2022  3.8575    3.8125  3.8675  3.8125     NaN   1,27%
...          ...     ...       ...     ...     ...     ...     ...
5836  10.01.2000  0.8465    0.8530  0.8545  0.8400   7,13K  -0,88%
5837  07.01.2000  0.8540    0.8530  0.8625  0.8495   6,23K   0,12%
5838  06.01.2000  0.8530    0.8560  0.8565  0.8480   6,94K  -0,41%
5839  05.01.2000  0.8565    0.8450  0.8590  0.8380   9,24K   1,00%
5840  04.01.2000  0.8480    0.8615  0.8620  0.8450  12,25K  -1,74%

[5841 rows x 7 columns]

***Mostrando Columnas***

In [445]:
df.columns

Index(['Fecha', 'Último', 'Apertura', 'Máximo', 'Mínimo', 'Vol.', '% var.'], dtype='object')

##**Eliminar columnas innecesarias**

In [446]:
dff = df.drop(['Apertura', 'Máximo', 'Mínimo', 'Vol.', '% var.'], axis = 1)
dff

           Fecha  Último
0     30.12.2022  3.8130
1     29.12.2022  3.8265
2     28.12.2022  3.8425
3     27.12.2022  3.8405
4     26.12.2022  3.8575
...          ...     ...
5836  10.01.2000  0.8465
5837  07.01.2000  0.8540
5838  06.01.2000  0.8530
5839  05.01.2000  0.8565
5840  04.01.2000  0.8480

[5841 rows x 2 columns]

In [447]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   5841 non-null   object
 1   Último  5841 non-null   float64
dtypes: float64(1), object(1)
memory usage: 91.4+ KB

In [448]:
dff.isnull().sum()

Fecha     0
Último    0
dtype: int64

##**Cambiar tipo de dato**

In [449]:
#dff['Fecha'] = pd.to_datetime(dff['Fecha'],format='%d.%m.%Y',  infer_datetime_format=True, errors='coerce', utc=True).dt.strftime('%Y-%m-%d')
dff['Fecha'] = pd.to_datetime(dff['Fecha'], format='%d.%m.%Y')
dff

          Fecha  Último
0    2022-12-30  3.8130
1    2022-12-29  3.8265
2    2022-12-28  3.8425
3    2022-12-27  3.8405
4    2022-12-26  3.8575
...         ...     ...
5836 2000-01-10  0.8465
5837 2000-01-07  0.8540
5838 2000-01-06  0.8530
5839 2000-01-05  0.8565
5840 2000-01-04  0.8480

[5841 rows x 2 columns]

##**Crear una columna año**

In [450]:
dff['Año'] = pd.DatetimeIndex(dff['Fecha']).year
dff

          Fecha  Último   Año
0    2022-12-30  3.8130  2022
1    2022-12-29  3.8265  2022
2    2022-12-28  3.8425  2022
3    2022-12-27  3.8405  2022
4    2022-12-26  3.8575  2022
...         ...     ...   ...
5836 2000-01-10  0.8465  2000
5837 2000-01-07  0.8540  2000
5838 2000-01-06  0.8530  2000
5839 2000-01-05  0.8565  2000
5840 2000-01-04  0.8480  2000

[5841 rows x 3 columns]

In [451]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5841 entries, 0 to 5840
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   5841 non-null   datetime64[ns]
 1   Último  5841 non-null   float64
 2   Año     5841 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 137.0 KB

In [452]:
dff = dff[['Año','Fecha','Último']]
dff

       Año      Fecha  Último
0     2022 2022-12-30  3.8130
1     2022 2022-12-29  3.8265
2     2022 2022-12-28  3.8425
3     2022 2022-12-27  3.8405
4     2022 2022-12-26  3.8575
...    ...        ...     ...
5836  2000 2000-01-10  0.8465
5837  2000 2000-01-07  0.8540
5838  2000 2000-01-06  0.8530
5839  2000 2000-01-05  0.8565
5840  2000 2000-01-04  0.8480

[5841 rows x 3 columns]

##**Groupby**

***Agrupando por Año/Mes y obteniendo el promedio mensual***

In [453]:
#df2 = dff.groupby([dff['Fecha'].dt.year, dff['Fecha'].dt.month])
dff = dff.groupby([dff['Fecha'].dt.year, dff['Fecha'].dt.month]).mean()
dff.head(13)

                Año    Último
Fecha Fecha
2000  1      2000.0  0.855816
      2      2000.0  0.832650
      3      2000.0  0.805435
      4      2000.0  0.780289
      5      2000.0  0.831477
      6      2000.0  0.813727
      7      2000.0  0.845053
      8      2000.0  0.870370
      9      2000.0  0.920325
      10     2000.0  0.879159
      11     2000.0  0.837675
      12     2000.0  0.870750
2001  1      2001.0  0.833167

In [454]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 276 entries, (2000, 1) to (2022, 12)
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     276 non-null    float64
 1   Último  276 non-null    float64
dtypes: float64(2)
memory usage: 5.2 KB

***Resumen por año***

In [455]:
dff.index = dff.index.rename(['Año', 'Mes'])
@interact
def sumary(Periodo = list(dff['Año'].astype(int).value_counts().sort_index().index)):
    x = dff[dff['Año'] == Periodo]
    x.drop('Año', axis=1, inplace=True)
    print(x[:])

interactive(children=(Dropdown(description='Periodo', options=(2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,…

***Reset_index***

In [456]:
dffinal = dff.reset_index(drop=True)
dffinal

        Año    Último
0    2000.0  0.855816
1    2000.0  0.832650
2    2000.0  0.805435
3    2000.0  0.780289
4    2000.0  0.831477
..      ...       ...
271  2022.0  3.617739
272  2022.0  3.445074
273  2022.0  3.416929
274  2022.0  3.657023
275  2022.0  3.822114

[276 rows x 2 columns]

***Convertir columna 'Año' a datetime***

In [457]:
dffinal['Año'] = pd.to_datetime(dffinal['Año'], format='%Y',  infer_datetime_format=True, errors='coerce').dt.to_period('Y')
dffinal

      Año    Último
0    2000  0.855816
1    2000  0.832650
2    2000  0.805435
3    2000  0.780289
4    2000  0.831477
..    ...       ...
271  2022  3.617739
272  2022  3.445074
273  2022  3.416929
274  2022  3.657023
275  2022  3.822114

[276 rows x 2 columns]

In [458]:
dffinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     276 non-null    period[A-DEC]
 1   Último  276 non-null    float64
dtypes: float64(1), period[A-DEC](1)
memory usage: 4.4 KB

##**Transponer dataframe**

In [459]:
dffinal = dffinal.transpose()
dffinal

,0,1,2,3,4,5,6,7,8,9,...,266,267,268,269,270,271,272,273,274,275
Año,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,...,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
Último,0.855816,0.83265,0.805435,0.780289,0.831477,0.813727,0.845053,0.87037,0.920325,0.879159,...,4.685848,4.664738,4.27327,4.131239,3.420636,3.617739,3.445074,3.416929,3.657023,3.822114

##**Exportar datos formato csv**

In [460]:
dffinal.to_csv('CuOutput.csv', encoding='utf-8-sig', header=False)
files.download('CuOutput.csv')